/* Home styling  */
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background-image: url(images/home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .content {
  flex: 1 1 40rem;
}
.home .image {
  flex: 1 1 40rem;
}
.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}
@keyframes float-button {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1.5rem);
  }
}
.home .content h3 {
  font-size: 4rem;
  text-align: center;
}
.home .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1.5rem;
}

.btn-home {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  background-color: transparent;
  animation: float-button 3s linear infinite;
}
.btn-home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}
.btn-home:hover::before {
  width: 100%;
  left: 0;
}
.btn-home:hover {
  color: #fff;
}
::selection {
  background: var(--red);
  color: #fff;
}
.popular-heading {
  font-size: 3.5rem;
  color: #666;
  padding: 2rem;
  text-align: center;
}
span {
  color: var(--red);
}
